/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;

html {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

code {
  opacity: 0.4;
  color: #eeeeee;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  color: #eeeeee;
  font-size: 18px;
}

h1 {
  color: #eeeeee;
}
